/* google font 'inter' and 'playwrite cuba' */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Playwrite+CU:wght@100..400&display=swap');

/* common styles start */
:root{
    --color-primary: rgb(230, 83, 60);
    --color-white: rgb(255, 255, 255);
    --color-black: rgb(0, 0, 0);
    --color-dark: rgb(34, 34, 34);
    --color-light: rgba(255, 255, 255, 0.5);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 16px;
}

body{
    font-family: "Inter", sans-serif;
    font-weight: normal;
    line-height: 24px;
}

.container{
    width: 80%;
    margin: 0 auto;
}

.container-fluid{
    background-color: var(--color-black);
}

.section-title{
    color: var(--color-white);
    font-size: 3.125rem;
    font-weight: 900;
    margin-bottom: 25px;
    line-height: 120%;
}

.section-description{
    color: var(--color-light);
    font-size: 1.125rem;
    font-weight: 400;
}

.d-flex{
    display: flex;
}

.d-grid{
    display: grid;
}

.d-none{
    display: none;
}

.btn{
    background-color: var(--color-primary);
    color: var(--color-white);
    font-size: 1.125rem;
    font-weight: 600;
    text-align: center;
    padding: 16px 40px;
    border: none;
    outline: none;
    border-radius: 42px;
    cursor: pointer;
}

/* common styles end */

/* header styles start */
.header{
    background: linear-gradient(180deg, rgb(0, 0, 0) 0%, rgba(17, 17, 17, 0.9) 60%, rgb(0, 0, 0) 100%);
}
/* navigation bar styles */
.navbar{
    justify-content: space-between;
    align-items: center;
    padding-top: 57px;
}

.logo{
    color: var(--color-primary);
    font-size: 2.5rem;
    font-weight: 900;
}

.nav{
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 40px;
}

.nav-item{
    list-style-type: none;
    margin-right: 50px;
    border-radius: 45px;
    padding: 8px 20px;
}

.nav-item:last-child{
    margin-right: 0;
}

.nav-link{
    text-decoration: none;
    color: var(--color-white);
    font-size: 1.125rem;
}

.active{
    background-color: var(--color-primary);
}

.ham-burger{
    color: var(--color-white);
    font-size: 1.75rem;
}
/* banner section styles */
.banner-container{
    justify-content: space-between;
    align-items: center;
}

.banner-content{
    width: 60%;
}

.banner-title-container{
    max-width: 600px;
}

.banner-title{
    color: var(--color-white);
    font-size: 4.875rem;
    font-weight: 900;
    line-height: 120%;
    margin-bottom: 28px;
}

.banner-title > span{
    font-weight: 400;
    font-family: "Playwrite CU", cursive;
    font-style: italic;
}

.banner-description{
    color: var(--color-light);
    font-size: 1.25rem;
}

.button-container{
    margin-top: 28px;
}

.btn-outline{
    background-color: transparent;
    border: 1px solid var(--color-white);
    margin-left: 14px;
    transition: background 0.5s;
}

.btn-outline:hover{
    background: var(--color-primary);
    border: 1px solid var(--color-primary);
}

.banner-image{
    position: relative;
}

.hero-image{
    width: 100%;
    height: 100%;
}

.sticker-1, .sticker-2{
    background: rgba(48, 48, 48, 0.54);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    padding: 20px 25px;
    gap: 10px;
}

.sticker-1{
    position: absolute;
    align-items: center;
    left: -30%;
    bottom: 15%;
}

.sticker-2{
    position: absolute;
    right: -20%;
    top: 20%;
}

.sticker-1 > div h3{
    color: var(--color-white);
    font-size: 1.5rem;
}

.sticker-1 > div p{
    color: var(--color-light);
    font-size: 1rem;
    margin-top: 5px;
}

.sticker-2 h3{
    color: var(--color-white);
    font-size: 2.5rem;
}

.sticker-2 p{
    color: var(--color-light);
    font-size: 0.8125rem;
    margin-top: 10px;

}

.circle{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--color-primary);
    justify-content: center;
    align-items: center;
    color: var(--color-white);
}
/* header styles end */

/* habits section styles start */
.habits-container{
    padding-top: 100px;
}

.habits-title-container{
    margin: 0 auto;
    text-align: center;
}

.habits-row{
    margin-top: 50px;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.habits-col{
    max-width: 300px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.habits-col img{
    border-radius: 50%;
}

.habits-col h4{
    color: var(--color-white);
    font-size: 1.125rem;
    margin-top: 30px;
}

.habits-col p{
    color: var(--color-light);
    text-align: center;
    font-size: 1rem;
} 
/* habits section styles end */

/* run section styles start */
.run-container{
    padding: 100px 0;
}

.run-row{
    background: var(--color-dark);
    border-radius: 18px;
    padding: 30px;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.run-content{
    max-width: 500px;
}

.run-img{
    max-width: 450px;
}

.run-img img{
    width: 100%;
    border-radius: 18px;
}

.run-btn{
    width: 50%;
    margin-top: 20px;
}
/* run section styles end */

/* training section styles start */
.training-title-container{
    padding-bottom: 50px;
}

.training-gallery{
    grid-template-columns: repeat(12, 1fr);
}

[class*="gallery-content-"]{
    width: 100%;
    height: 200px;
    position: relative;
}

.gallery-content-1{
    grid-column: 1 / 4;
}
.gallery-content-1 h4{
    position: absolute;
    left: 20px;
    bottom: 30px;
    color: var(--color-dark);
}

.gallery-content-2{
    grid-column: 4 / 9;
}
.gallery-content-2 h4{
    position: absolute;
    left: 20px;
    top: 30px;
    color: var(--color-white);
}

.gallery-content-3{
    grid-column: 9 / 13;
}
.gallery-content-3 h4{
    position: absolute;
    left: 20px;
    bottom: 30px;
    color: var(--color-white);
}

.gallery-content-4{
    grid-column: 1 / 5;
}
.gallery-content-4 h4{
    position: absolute;
    right: 20px;
    top: 30px;
    color: var(--color-white);
}

.gallery-content-5{
    grid-column: 5 / 8;
}
.gallery-content-5 h4{
    position: absolute;
    left: 20px;
    bottom: 30px;
    color: var(--color-white);
}

.gallery-content-6{
    grid-column: 8 / 13;
}
.gallery-content-6 h4{
    position: absolute;
    left: 20px;
    bottom: 30px;
    color: var(--color-white);
}

[class*="gallery-content-"] img{
    width: 100%;
    height: 100%;
}

[class*="gallery-content-"]::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0px;
}

.gallery-content-1::before{
    background: rgba(6, 255, 210, 0.5);
}

.gallery-content-2::before{
    background: rgba(255, 0, 0, 0.3);
}

.gallery-content-3::before{
    background: rgba(0, 0, 0, 0.5);
}

.gallery-content-4::before{
    background: rgba(0, 0, 0, 0.5);
}

.gallery-content-5::before{
    background: rgba(66, 255, 0, 0.3);
}

.gallery-content-6::before{
    background: rgba(0, 71, 255, 0.3);
}
/* training section styles end */

/* bmi section styles start */
.bmi-title-container{
    padding: 100px 0 50px;
}

.bmi-chart-container{
    background: var(--color-dark);
}

.bmi-chart-content{
    padding: 50px 0;
}

.bmi-chart-title{
    color: var(--color-white);
    font-size: 1.75rem;
    margin-bottom: 14px;
}

.bmi-chart{
    width: 40%;
}

.bmi-chart-table{
    margin-top: 50px;
}

.bmi-chart-table, .bmi-chart-table th, .bmi-chart-table td{
    border-collapse: collapse;
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 13px 15px;
    color: var(--color-light);
    font-size: 0.875rem;
}

.bmi-chart-table th{
    text-align: left;
    color: var(--color-white);
}

.bmi-calculator{
    width: 60%;
}

.input-form{
    margin-top: 30px;
}

.input-field{
    margin-bottom: 30px;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

.input-field .last-child{
    grid-column: 1 / -1;
}

.input-field input, select{
    width: 100%;
    padding: 15px 20px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    border: none;
    outline: none;
    color: var(--color-light);
}

.calculate-btn{
    width: 40%;
}
/* bmi section styles end */

/* trainer section styles start */
.trainer-container{
    padding: 100px 0;
}

.trainer-title-container{
    margin: 0 auto;
    text-align: center;
}

.trainer-gallery{
    margin-top: 50px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
}

.trainer-gallery-content{
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.trainer-col{
    max-height: 320px;
    position: relative;
}

.trainer-col::before{
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.2);
}

.trainer-img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.trainer-name-designation{
    position: absolute;
    left: 5%;
    bottom: 5%;
    color: var(--color-white);
}

.trainer-name{
    font-size: 1.25rem;
}

.trainer-designation{
    font-size: 1rem;
    color: var(--color-light);
}
/* trainer section styles end */

/* our pricing plan styles start */
.pricing-title-container{
    text-align: center;
    margin-bottom: 50px;
}

.price-row{
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 25px;
    padding-bottom: 100px;
}

.price-col{
    background: var(--color-dark);
    padding: 10% 15%;
    border-radius: 20px;
    color: var(--color-light);
    text-align: center;
    position: relative;
}

.price-col p{
    font-size: 1.25rem;
    color: var(--color-white);
    font-weight: 800;
}

.price-col h3{
    font-size: 3rem;
    margin: 20px 0 40px;
    font-weight: 500;
    color: var(--color-white);
}

.price-col span{
    font-size: 1.25rem;
}

.price-col ul{
    text-align: left;
    margin: 20px 0;
    color: var(--color-light);
    list-style: none;
    padding-bottom: 50px;
}

.price-col ul li{
    margin: 15px 0;
}

.price-col ul li::before{
    content: "\2022";
    color: var(--color-primary);
    font-weight: 800;
    margin-right: 10px;
}

.add-to-cart-btn{
    width: 70%;
    background: transparent;
    border: 1px solid var(--color-primary);
    transition: background 0.5s;

    position: absolute;
    left: 50%;
    bottom: 8%;
    transform: translate(-50%, -8%);
}

.add-to-cart-btn:hover{
    background: var(--color-primary);
}
/* our pricing plan styles end */

/* footer section styles start */
.footer-container{
    background: var(--color-dark);
}

.footer-row{
    padding-top: 50px;
    gap: 100px;
}

.foooter-logo{
    color: var(--color-primary);
    font-size: 4.5rem;
    margin-bottom: 50px;
    padding-top: 20px;
}

.footer-description{
    color: var(--color-light);
    font-size: 1.125rem;
}

.footer-col-50{
    width: 50%;
    justify-content: space-between;
}

.footer-col-25 h2{
    color: var(--color-white);
    font-size: 2rem;
    margin-bottom: 20px;
}

 .footer-menu li{
    list-style-type: none;
}

.footer-menu li a{
    text-decoration: none;
    color: var(--color-light);
    font-size: 1.5rem;
    display: block;
    padding: 10px 0;
}

.hr-line{
    border: 1px solid rgba(255, 255, 255, 0.1);
    margin-top: 40px;
}

.copyright-description{
    text-align: center;
    padding: 40px 0;
    color: var(--color-light);
    font-size: 1.25rem;
}
/* footer section styles end */



/* responsive for small devices */
@media screen and (max-width: 576px){
    /* common styles start */
    .container{
        width: 90%;
        margin: 0 auto;
    }

    .section-title{
        font-size: 2rem;
        margin-bottom: 15px;
    }

    .section-description{
        font-size: 1rem;
    }

    .btn{
        font-size: .9rem;
        padding: 16px;
        border-radius: 40px;
    }
    /* common styles end */

    /* header styles start */
    /* navigation bar styles */
    .navbar{
        padding-top: 50px;
    }

    .nav{
        display: none;
    }

    .ham-burger{
        display: block;
    }

    /* banner section styles */
    .banner-container{
        flex-direction: column;
        align-items: flex-start;
    }
    
    .banner-content{
        width: 100%;
        margin-top: 50px;
    }

    .banner-title-container{
        max-width: 285px;
    }

    .banner-title{
        font-size: 2.5rem;
    }
    
    .banner-description{
        font-size: 1.125rem;
    }

    .banner-image{
        margin: 0 auto;
    }

    .btn-outline{
        margin-left: 5px;
    }

    .sticker-1, .sticker-2{
        padding: 10px 15px;
        gap: 5px;
    }

    .sticker-1{
        left: 5%;
        bottom: 40%;
    }

    .sticker-2{
        right: 0%;
        top: 15%;
    }

    .sticker-1 > div h3{
        font-size: 1.125rem;
    }

    .sticker-1 > div p{
        font-size: 0.8125rem;
    }

    .sticker-2 h3{
        font-size: 1.8rem;
    }

    .sticker-2 p{
        font-size: 0.7rem;
        margin-top: 10px;
    }
    /* header styles end */

    /* habits section styles start */
    .habits-container{
        padding-top: 50px;
    }
        
    .habits-row{
        flex-direction: column;
        margin-top: 25px;
        gap: 10;
    }
    
    .habits-col{
        margin-bottom: 20px;
    }
    /* habits section styles end */

    /* run section styles start */
    .run-container{
        padding: 25px 0;
    }
    .run-row{
        flex-direction: column;
    }
    .run-btn{
        width: 100%;
    }
    /* run section styles end */

    /* training section styles start */
    .training-title-container{
        padding: 50px 0;
    }
    
    .gallery-content-1{
        grid-column: 1 / 8;
    }
    
    .gallery-content-2{
        grid-column: 8 / 13;
    }
    
    .gallery-content-4{
        grid-column: 1 / 7;
    }
    
    .gallery-content-5{
        grid-column: 7 / 13;
    }
    
    .gallery-content-3, .gallery-content-6{
        display: none;
    }

    [class*="gallery-content-"] h4{
        font-size: 0.875rem;
        top: auto;
        bottom: 5%;
        left: 5%;
    }
    /* training section styles end */

    /* bmi calculator and chart styles start */
    .bmi-title-container{
        padding: 50px 0;
    }
        
    .bmi-chart-content{
        flex-direction: column;
        padding: 25px 0;
    }
    
    .bmi-chart{
        width: 100%;
    }
    
    .bmi-chart-table{
        margin-top: 25px;
    }
    
    .bmi-chart-title{
        font-size: 1.5rem;
    }

    .bmi-calculator{
        width: 100%;
        margin-top: 50px;
    }

    .calculate-btn{
        width: 50%;
    }
    /* bmi calculator and chart styles end */

    /* trainer gallery styles start */
    .trainer-container{
        padding: 50px 0;
    }
        
    .trainer-gallery{
        margin-top: 40px;
    }
    
    .trainer-gallery-content{
        grid-template-columns: 1fr;
    }

    .trainer-name{
        font-size: 1rem;
    }
    
    .trainer-designation{
        font-size: 0.875rem;
    }
    /* trainer gallery styles end */

    /* pricing plan section styles start */
    .price-row{
        padding-bottom: 50px;
    }
    /* pricing plan section styles end */

    /* footer section styles start */
    .footer-row{
        flex-direction: column;
        gap: 30px;
    }
    
    .foooter-logo{
        font-size: 4rem;
    }

    .footer-description{
        font-size: 1rem;
    }

    .footer-menu li a{
        font-size: 1.25rem;
    }

    .footer-col-50{
        flex-direction: column;
        width: 100%;
        justify-content: flex-start;
        gap: 30px;
    }
    
    .footer-col-25 h2{
        font-size: 1.75rem;
    }

    .copyright-description{
        text-align: left;
        font-size: 1.125rem;
    }
    /* footer section styles end */
}